<footer class="footer">

    <div class="footer-container">

        <div class="footer-logo">

            🍔 FoodieHub

            <p>
                Delicious food delivered to your door.
            </p>

        </div>

        <div class="footer-links">

            <h3>Quick Links</h3>

            <a routerLink="customer/home" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Home</a>
            <a routerLink="customer/cart" routerLinkActive="active">Cart</a>
            <a routerLink="customer/profile" routerLinkActive="active">Profile</a>

        </div>

        <div class="footer-contact">

            <h3>Contact</h3>

            <p>📧 foodiehub@gmail.com</p>
            <p>📞 +91 9999999999</p>

        </div>

    </div>

    <div class="copyright">

        © 2026 FoodieHub | All Rights Reserved

    </div>

</footer>