<section class="settings-wrap">

  @for(item of settings(); track item.id){

  <div class="setting-card" (click)="handleAction(item.title)">

    <div class="card-glow"></div>

    <!-- left -->

    <div class="setting-left">

      <div class="icon-box">

        <i class="{{item.icon}}"></i>

      </div>

      <div class="setting-content">

        <h4>{{item.title}}</h4>

        <p>{{item.desc}}</p>

      </div>

    </div>

    <!-- right -->

    <div class="setting-right">

      <span class="badge">

        {{item.badge}}

      </span>

      <div class="arrow">

        <i class="bi bi-chevron-right"></i>

      </div>

    </div>

  </div>

  }

</section>


@if(showModal()){

<div class="modal-overlay">

  <div class="modal-box">

    <div class="modal-header">

      <h2>Change Password</h2>

      <span class="close" (click)="closeModal()">

        ✖

      </span>

    </div>

    <form [formGroup]="passwordForm" (ngSubmit)="savePassword()">

      <input type="password" placeholder="Current Password" formControlName="currentPassword">

      <input type="password" placeholder="New Password" formControlName="newPassword">

      <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">

      <button type="submit">

        Update Password

      </button>

    </form>

  </div>

</div>

}