.details{

background:white;

padding:25px;

border-radius:25px;

box-shadow:
0 10px 25px rgba(0,0,0,.05);

}

.row{

display:flex;

align-items:center;

gap:15px;

padding:16px;

border-radius:16px;

margin-bottom:10px;

transition:.4s;

}

.row:hover{

background:#fff5ef;

}

.icon{

font-size:24px;

}

.content h4{

margin-bottom:5px;

font-size:15px;

}

.content p{

font-size:13px;

color:#777;

}