<section class="stats-container">

  @for(item of stats(); track item.id){

  <div class="stat-card">

    <!-- Glow -->

    <div class="card-glow"></div>

    <!-- Top -->

    <div class="top">

      <div class="icon-box">

        <i class="{{item.icon}}"></i>

      </div>

      <span class="trend">

        +12%

      </span>

    </div>

    <!-- Content -->

    <div class="content">

      <h2>{{item.count}}</h2>

      <p>{{item.title}}</p>

    </div>

    <!-- Bottom -->

    <div class="bottom-line"></div>

  </div>

  }

</section>