.stats{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:20px;

}

.stat-card{

background:white;

padding:25px;

border-radius:25px;

text-align:center;

box-shadow:
0 10px 25px rgba(0,0,0,.05);

transition:.4s;

}

.stat-card:hover{

transform:
translateY(-8px);

}

.stat-icon{

font-size:30px;

margin-bottom:12px;

}

.stat-card h2{

font-size:28px;

margin-bottom:8px;

}

.stat-card p{

color:#777;

}

@media(max-width:768px){

.stats{

grid-template-columns:1fr;

}

}